apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: student-system
spec:
  replicas: 2 # (Syarat Soal: Replica 2)
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # Gunakan username Docker Hub Anda yang asli
        image: chairul01/student-app-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        resources: # (Wajib untuk HPA)
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: student-system
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000