name: CI/CD Pipeline (UAS)

on:
  push:
    branches: [ "master", "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    # 1. Ambil kodingan
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Login ke Docker Hub (Sesuai Secret Anda: DOCKERHUB_...)
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 3. Build & Push Backend
    - name: Build and Push Backend
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/student-app-backend:latest

    # 4. Build & Push Frontend
    - name: Build and Push Frontend
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/student-app-frontend:latest